# Credenciales de Meta (Facebook)
META_ACCESS_TOKEN=tu_token_permanente_aqui
META_PHONE_NUMBER_ID=tu_phone_number_id_aqui

# Puerto del servidor (DigitalOcean lo asigna automáticamente, pero por defecto es 3000 localmente)
PORT=3000

# Nombre de la plantilla de mensaje pre-aprobada en Meta (Ej: recordatorio_pago)
META_TEMPLATE_NAME=recordatorio_pago
